.myAvitar img {
    border-color: black;
}

.myLibrary {
    display: flex;
    justify-content: center;

}
.myLibrary img {
    border-color: black;
}

.emailMe {
    display: flex;
    justify-content: center;

}
.emailMe img {
    border-color: black;
}